{% load static %}
{% load i18n %}

<div class="page-400 section--bg" data-bg="{% static 'img/section/section.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="page-400__wrap">
                    <div class="page-400__content">
                        <h1 class="page-400__title">400</h1>
                        <p class="page-400__text">{% trans 'Неверный запрос!' %}</p>
                        <p class="page-400__error-info">{% trans 'Дополнительная информация об ошибке:' %} {{ exception }}</p>
                        <a href="{% url 'home' %}" class="page-400__btn page-400__btn--animated">{% trans 'Домой' %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
