    <meta name="theme-color" content="#7952b3">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li style="margin-right: 15px;">
                        <img src="{{ user.profile.image.url }}" alt="Generic placeholder image" class="img-fluid " style="width: 50px; z-index: 1; border-radius: 100%;">

            <a href="{% url 'django_app:profile' %}" type="button" class="btn btn-outline-Success me-2">Profile({{ user.username}})</a>

            <a href="{% url 'django_app:profile' %}" type="button" class="btn btn-outline-primary me-2">Profile</a>

          </li>
        <li class="nav-item">
        <a href="{% url 'django_app:home_main' %}" class="btn btn-outline-primary" type="submit">Home</a>
        <a href="{% url 'django_app:post_create' %}" class="btn btn-outline-primary" type="submit" style="margin-left: 15px;">Create new post</a>
        <a href="{% url 'django_app:todo_create' %}" class="btn btn-outline-primary" type="submit" style="margin-left: 15px;">Create new todo</a>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <div class="text-end">

              <a href="{% url 'django_app:logout' %}" type="button" class="btn btn-outline-danger me-2">Logout</a>

              <a href="{% url 'django_app:login' %}" type="button" class="btn btn-outline-primary me-2">Login</a>

          </div>
      </form>
    </div>
  </div>
</nav>
<h1 align="center">All todos</h1>
    <div class="container container-fluid">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

            <div class="col">
              <div class="card shadow-sm" style="border-radius: 30px;">
                <div class="card-header" align="center">{{ todo.title }}</div>
                <div class="card-body">
                  <p class="card-text">{{ todo.description }}</p>
                  <div class="d-flex justify-content-between align-items-center" >
                    <div class="btn-group">
                      <a href="#" type="button" class="btn btn-sm btn-outline-secondary">Details...</a>
                      <a href="#" type="button" class="btn btn-sm btn-outline-secondary">Edit</a>
                    </div>
                    <small class="text-muted">1 mins</small>
                  </div>
                    <small class="text-muted">
                        <a href="{% url 'django_app:todo_delete' todo.id %}" class="text-decoration-none btn"><i class="fa-solid fa-trash-can text-danger">Delete</i></a>
                    </small>
                    <div style="margin-left: 300px; border: 1px solid #E1C16E; text-align: center;">

                  </div>
                </div>
              </div>

            </div>

      </div>
    </div>
