{% extends 'base.html' %}
{% load i18n static %}
{% block title %}
{% trans 'Сброс пароля' %}
{% endblock %}

{% block content %}
<div class="sign section--bg" data-bg="{% static 'img/section/section.jpg' %}">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="sign__content">
                    {% if reset_successful %}
                        <form class="sign__form">
                            <h1 class="password_reset-values">{% trans 'Ваш пароль был успешно изменен' %}</h1>
                            <button class="sign__btn" type="submit"><a href="{% url 'login' %}" style="color: #f8f8f2">{% trans 'Войти' %}</a></button>
                        </form>
                    {% else %}
                        <form class="sign__form" method="post">
                            {% csrf_token %}
                            <a href="{% url 'home' %}" class="sign__logo">
                                <img src="{% static 'img/logo.svg' %}" alt="">
                            </a>
                            {% if form.errors %}
                                <ul class="error-list">
                                    {% for field in form %}
                                        {% for error in field.errors %}
                                            <li>{{ error|escape }}</li>
                                        {% endfor %}
                                    {% endfor %}
                                    {% for error in form.non_field_errors %}
                                            <li>{{ error|escape }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            <div class="sign__group">
                                {{ form }}
                            </div>
                            <button class="sign__btn" type="submit">{% trans 'Сбросить пароль' %}</button>
                        </form>
                    {% endif %}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
